
img{

    width:70%;
    padding-left:20%;
    animation: float 2s linear infinite;

}

@keyframes float {
    0%,100%{
        transform:translateY(0rem);
    }
    50%{
        transform:translateY(5rem);
    }
}